@model List<Category> 

<div class="container">
    <div class="row">
<div class="col-9">
<h2>Catergory list</h2>
</div>
<div class="col-3">
<a asp-controller="category" asp-action="create" class="btn btn-primary p-3"><i class="bi bi-plus-circle-dotted"></i> Add New Category</a>
</div>
    </div>
<table class="table table-striped">
    <tr>
        <th>
            Name
        </th>
        <th>
            Display Order 
        </th>
        <th></th>
        
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.Name</td>
            <td>@item.DisplayOrder</td>
            <td><a asp-asp-controller="category" asp-action="edit" asp-route-Id="@item.Id"><i class="bi bi-pencil-square"></i> Edit</a> |  <a asp-controller="category" asp-action="delete" asp-route-Id="@item.Id"><i class="bi bi-trash"></i> Delete</a></td>
            
        </tr>
    }
</table>
</div>