@model List<Category> 

<h1>Category</h1>
<table>
    <tr>
        <th>
            Id
        </th>
        <th>
            Name
        </th>
        
    </tr>
    @foreach(var item in Model){
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
        </tr>
    }
</table>